nav {
    position: absolute;
    left: 30px;
    top: 20px;
}
nav > a {
    text-decoration: none;
    margin-left: 30px;
    color: #333333;
    font-family: 'Inter', sans-serif;
}
.logo {
    position: absolute;
    margin-left: 10px;
    top: -5px;
    right: 450px;
}